[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"kenl380.pylib" = "*"
avscript = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
