/* 
   Title: A/V Script Format v0.38a
   Author: Ken Lowrie based on similar CSS originally by Mark Boszko

   Description: Formats text files using a Markdown-like syntax as side-by-side 
   A/V Script format, with visuals on the left, and audio/narration on the right. 
   Unordered lists are interpreted as visuals, regular paragraphs are 
   audio/narration. Various other specialized formatting options are also
   supported. See the README for docs on how to use it, and then take a look
   at userdocs.md and example.md to learn more.
   -----
   This styling document along with the script avscript_md was made for use with 
   BBEdit <http://www.barebones.com/products/bbedit/> as a CSS theme for Markdown 
   previews.
   
   A separate script, mkavscript_md can be used to build an HTML document suitable
   for loading in a browser, since avscript_md is intended to be used with BBEdit's
   Markdown preview only...
   
   TODO: Might want to look at Mark Boszko's latest version of the original CSS
   file. He's added a TON of stuff that looks very interesting...
*/

body
{
    -webkit-font-smoothing:antialiased;
	font-style: normal;
	margin:0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

html>body
{
    font-size:12px
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

ins {
    font-weight: bold;
    color:blue;
}

del{
    font-weight: light;
    color: gray;
}

.red{
    color:red;
}

.blue, .cast{
    color:blue;
}

.green, .extra{
    color:green;
}

.gray{
    color:gray;
}

.pink, .makeup{
    color:#ffcfcf;
}

.orange, .wardrobe{
    color:orange;
}

.brown, .props{
    color:brown;
}

.wardrobe, .makeup, .props, .cast, .extra{
    font-size: 1.2em;
    font-weight:bold;
}

.debug{
    font-size: 1.2em;
}
.center{
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.nowrap{
    white-space: nowrap;
}

.wrapper {
    clear:both;
}

div.cover, div.revision, div.contact {
    clear:both;
    display:block;
    margin: .5em;
    border: 1px solid #ccc;
}

div.cover p, div.revision p, div.contact p {
    border:none;
    float: none;
    width: inherit;
	font-family:inherit;
}

div.cover, div.revision {
    text-align:center;
    font-size: 1.5em;
}    

.coverSummary{
    font-size: .8em;
}


.revTitle {
    font-weight:bold;
}

div.contact {
    padding: 10px;
}

div.toc, div.section, div.unused, div.syntax, div.review, div.lyrics, div.scene {
    clear:both;
    border: 2px solid #000;
    margin: .5em;
    padding: 10px;
	background-color: #c0c0c0;
}

div.toc p, div.section p, div.unused p, div.syntax p, div.review p, div.lyrics p, div.scene p{
    border:none;
    float: none;
    width: inherit;
	font-family:inherit;
}

div.scene {
    padding: .5em;
    border: 1.5px solid #ff0000;
	background-color: #f7f7f7;
}

div.scene p{
    margin-bottom: 0;
    padding: .5em;
    font-size: 1.2em;
}

div.review {
    padding: .5em;
    border: 1.5px dashed #ff0000;
	background-color: #f7f7f7;
}

div.review p{
    margin-bottom: 0;
    padding: .5em;
    font-size: 1.2em;
}

div.toc{
	background-color: #dfcfcf;
}

div.toc p, div.syntax p, div.lyrics p{
    margin:0;
    padding:0;
    font-size: 1.1em;
}

div.syntax{
	background-color: #ffcfcf;
    margin-left: 3em;
}

div.lyrics{
	background-color: #ffcfcf;
    margin-left: 3em;
}

div.lyrics p{
    text-decoration: italic;
}

div.unused p{
	margin-bottom: 0;
}

div.plain {
    clear:both;
    margin: .5em;
    padding: 10px;
}

div.plain p{
    border:none;
    float: none;
    padding: 20px;
    width: inherit;
	font-family:inherit;
}

div.plain .plainTitle{
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 2px solid black;
}

div.generic {
    clear:both;
    margin: .5em;
    padding: 10px;
	font-family: "Courier Prime", Courier, "Courier New", mono;
}

div.generic p{
    border:none;
    float: none;
    padding: 20px;
    width: inherit;
	font-family:inherit;
    font-size: 1.3em;
}

.extras, .code {
    clear:both;
    margin: .5em;
    padding: 0 10px 0 10px;
}

div.extras p, div.extras code{
    border:none;
    float: none;
    width: inherit;
    font-size: 1.2em;
	font-family:inherit;
}

.divTitle{
    font-weight: bold;
    font-size: 1.4em;
    margin:0;
    padding:0;
}

.big, p.big, div.extras p.big{
    font-size: 1.2em;
}

.bigger, p.bigger, div.extras p.bigger{
    font-size: 1.3em;
}

.huge, p.huge, div.extras p.huge{
    font-size: 1.5em;
}

.omg, p.omg, div.extras p.omg{
    font-size: 2em;
}

.bold, p.bold, div.extras p.bold{
    font-weight: bold;
}

.light, p.light, div.extras p.bold{
    font-weight: light;
}

.bigandbold{
    font-weight: bold;
    font-size: 1.2em;
}

.italic{
    font-style: italic;
}

.ignore {
    display:none;
}

.center {
    text-align:center;
}

td {
    width: 100%;
}

/* @group AV Format */

ul {
	width: 45%;
	float: left;
	background-color: #f0f0f0;
	clear: both;
	padding: 1em;
	list-style-type: none;
}

p {
	width: 45%;
	float: right;
	margin-bottom: 0;
	margin-top: 1em;
	font-family: "Courier Prime", Courier, "Courier New", mono;
	padding: .7em 1em 1em;
	border-top: 1px solid #ccc;
}

div.av p, div.av ul, .fs13{
	font-size: 1.3em;
}
/* 
ul li + li {
	margin-top: 10px;
}
*/
ul + ul {
	clear: left;
}

p + p {
	clear: right;
	border-top: none;
	margin-top: 0;
}

.greybg {
	background-color: #f7f7f7;
}

.dashed {
    padding: 5px;
    border: 2px dotted #777777;
}

.box, div.extras p.box {
    padding: 5px;
    border: 2px solid #000000;
}

.note, .question, .vo, .important, .greyout {
    width: 40%;
    padding: 5px;
    margin: 1em;
}

.note, div.extras p.note {
    border: 2px dotted #777777;
	background-color: #f7f7f7;
}

.question, div.extras p.question {
    color: red;
    border: 2px dotted #777777;
	background-color: #f7f7f7;
}

.vo, div.extras p.vo {
    color: blue;
    border: 2px dotted #777777;
	background-color: #f7f7f7;
	/*white-space: pre;*/
}

.important, div.extras p.important {
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform:uppercase;
}

.greyout, div.extras p.greyout {
    color: gray;
	background-color: #f7f7f7;
}

.width50 { width: 50%; }
.width60 { width: 60%; }
.width70 { width: 70%; }
.width80 { width: 80%; }
.width90 { width: 90%; }

em {
    color: red;
}

.shotlist {
    clear:both;
    width:inherit;
	font-size: 1.3em;
}

div.shotlist p {
    border:none;
    float:none;
    font-weight:bold;
}

div.shot {
    margin-left: 1em;
}

div.shot p{
    float:none;
    border:none;
    font-weight:normal;
    width:90%;
}

div.links, div.variables{
	clear:both;
    width:inherit;
    margin-left:1em;
}

div.links p, div.variables p {
    border:none;
    float:none;
    padding: 0;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.3em;
}

.indent, p.indent, div.toc p.indent, div.syntax p.indent{
    margin-left:3em;
}

.indent1, p.indent1, div.toc p.indent1, div.syntax p.indent1{
    margin-left:1em;
}

.indent2, p.indent2, div.toc p.indent2, div.syntax p.indent2{
    margin-left:2em;
}

.indent3, p.indent3, div.toc p.indent3, div.syntax p.indent3{
    margin-left:3em;
}

.indent4, p.indent4, div.toc p.indent4, div.syntax p.indent4{
    margin-left:4em;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
table.shotinfo{
    width:100%;
}

/* tr.shotinfo{
}*/
th.item, td.item{
    width:30%;
}

th.desc, td.desc{
    width:70%;
}

@media print
{
	/*ul, li, p {
		page-break-inside: avoid;
		display:inline;
	}*/
	.plain{
		page-break-inside: avoid;
	}
    .pbb{
        page-break-before: always;
    }
    .pba
    {
        page-break-after: always;
    }

}
/* @end */