/* 
   Title: Shots Only Style Sheet v0.38a
   Author: Ken Lowrie

   Description: This sheet is used to filter out everything except shots and
   regular paragraphs, and the shotlist. This is useful when sending the narration
   to the VO talent.
   -----
   This styling document along with the script avscript_md was made for use with 
   BBEdit <http://www.barebones.com/products/bbedit/> as a CSS theme for Markdown 
   previews.
   
   A separate script, mkavscript_md can be used to build an HTML document suitable
   for loading in a browser, since avscript_md is intended to be used with BBEdit's
   Markdown preview only...   
   */

body
{
    -webkit-font-smoothing:antialiased;
	font-style: normal;
	margin:0;
	font-family: "Proxima Nova Alt", "Proxima Nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

html>body
{
    font-size:13px
}

h1,h2,h3,h4,h5,h6 {
    display:none;
}

ins {
    font-weight: bold;
    color:blue;
}

del{
    font-weight: light;
    color: gray;
}

.red{ color:red; }
.blue{ color:blue; }
.green{ color:green; }

.center{
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.wrapper {
}

div.cover, div.revision, div.contact {
    display:none;
}    

div.review, div.section, div.toc, div.plain, div.extras, div.syntax{
    display: none;
}

.list{
    margin:0;
    padding:0;
    margin-left:2em;
    padding-left:1.5em;
    font-weight:500;
    font-size:1.2em;
}

.pba, .pbb {
    font-weight: bold;
    font-size: 1.2em;
}

.ignore {
    display:none;
}

.greyout {
    display:block;
    white-space: 32;
    padding: .5em;
    border: 2px solid #000000;
    color: gray;
    margin: .5em;
	background-color: #f7f7f7;
}

td {
    width: 100%;
}

/* @group AV Format */

ul {
	width: 45%;
	float: left;
	background-color: #f0f0f0;
	clear: both;
	padding: 1em;
	list-style-type: none;
}

p {
	width: 45%;
	float: right;
	margin-bottom: 0;
	margin-top: 1em;
	font-family: "Courier Prime", Courier, "Courier New", mono;
	padding: .7em 1em 1em;
	border-top: 1px solid #ccc;
}

div.av p, div.av ul{
	font-size: 1.3em;
}

ul li + li {
	/*margin-top: 10px;*/
}

ul + ul {
	clear: left;
}

p + p {
	clear: right;
	border-top: none;
	margin-top: 0;
}

.note {
    width: 40%;
    padding: 5px;
    margin: 2em;
    border: 2px dotted #777777;
	background-color: #f7f7f7;
}

.width90 {
    width: 90%;
}

.question {
    width: 40%;
    padding: 5px;
    margin: 2em;
    color: red;
    border: 2px dotted #777777;
	background-color: #f7f7f7;
}

.important {
    padding: 15px;
    margin: 1.3em;
    font-size: 1.2em;
    font-weight: 500;
}

.vo {
    width: 40%;
    padding: 5px;
    margin: 2em;
    color: blue;
    border: 2px dotted #777777;
	background-color: #f7f7f7;
	/*white-space: pre;*/
}

em {
    color: red;
}

.shotlist {
    display:none;
}

div.links, div.variables{
    display:none;
}

.indent, div.toc p.indent{
    margin-left:3em;
}

@media print
{
	ul, li, p {
		/*page-break-inside: avoid;
		display:inline;*/
	}
	#plain{
		page-break-inside: avoid;
	}
    .pbb{
        page-break-before: always;
    }
    .pba
    {
        page-break-after: always;
    }

}
/* @end */